@font-face {
  font-family: 'Apercu';
  src: url('/assets/fonts/ApercuPro.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/ApercuPro.otf') format('opentype'),
  url('/assets/fonts/ApercuPro.woff') format('woff'), url('/assets/fonts/ApercuPro.ttf')  format('truetype'), url('/assets/fonts/ApercuPro.svg#ApercuPro') format('svg');
  font-weight: normal;
  font-style: normal;
}




// $utopia: "UtopiaReg", Georgia, serif;
// $utopia-display: "UtopiaDisp", Georgia, serif;
// $utopia-it: "UtopiaItalic", Georgia, serif;
// $apercu: "Apercu", Helvetica, sans-serif;
// $gotham: "GothamBold", Helvetica, sans-serif;

$main-font: Helvetica;



body {
  @include font-size(1.2);
  color: $slate;
  font-family: $main-font;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 110%;
}
