
// COLORS

$white:   #fff;
$black:   #000;

// Brand Colors

$off-white: #f9f4e8;
$creme: #faf4ea;
$sand: #f7efdb;
$peach: #f6e5d9;
$fog: #d3d3d1;
$chambray: #a0acbc;
$sea: #56606d;
$dust: #99857f;
$dusk: #565352;
$slate: #262b2d;
$gold: #c39d4a;
