$home-section-height: 700px;
$home-section-mobile: 400px;
$max-font: 1250px;

.home {

  section {
    height: $home-section-height;
    position: relative;

    .content {
      @include transform(translateY(-50%));
      left: 0;
      padding: 0;
      position: absolute;
      top: 50%;
      width: 100%;
    }

    &.row {
      @media screen and (max-width: 970px) {
        height: auto;
      }
    }
  }

  .section-header {
    background: $black url('/assets/beanhead.jpg') no-repeat center center;
    background-size: cover;
    color: $white;
    height: $home-section-height;
    height: 100vh;
    overflow: hidden;
    position: relative;

    @media screen and (max-width: 970px) {
      height: $home-section-height;
    }

    @media screen and (max-width: 500px) {
      height: $home-section-mobile;
    }

    .hero-vid {
      @include transform(translateX(-50%) translateY(-50%));
      height: auto;
      left: 50%;
      min-height: 100%;
      min-width: 100%;
      position: absolute;
      top: 50%;
      width: auto;

      @media screen and (max-width: 970px) {
        display: none;
      }
      
    }

    .dimmer {
      background-image: -webkit-linear-gradient(rgba(#000,.3),rgba(#fff,0));
      background-image: linear-gradient(rgba(#000,.3),rgba(#fff,0));
      height: 100%;
      position: absolute;
      width: 100%;
    }

    h1 {
      @include font-size(3.7);
      @include transform(translateY(-50%));
      font-family: $utopia-display;
      font-size: 2.9vw;
      position: relative;
      text-align: center;
      top: 50%;

      span {
        display: inline-block;
        width: 3px;
      }

      @media screen and (max-width: 970px) {
        @include font-size(2.8);
        line-height: 130%;
        padding: 0 5%;
      }

      @media screen and (min-width: $max-font) {
        @include font-size(4.5);
      }
    }
  }

  .section-roastery {
    background: $white url('/assets/marble-about.png') no-repeat center top;
    float: left;
    width: 50%;

    .content {
      padding: 0 14%;
    }

    h2 {
      @include font-size(1.8);
      font-size: 1.4vw;
      font-family: $gotham;
      letter-spacing: 2px;
      text-transform: uppercase;

      @media screen and (min-width: $max-font) {
        @include font-size(1.8);
      }
    }

    p {
      @include font-size(3.3);
      font-size: 2vw;
      line-height: 160%;
      padding: 30px 0 40px;
      position: relative;

      &:after {
        background-color: $gold;
        bottom: 0;
        content: '';
        display: block;
        height: 2px;
        left: 0;
        position: absolute;
        width: 100px;
      }
    }

    @media screen and (max-width: 970px) {
      float: none;
      width: 100%;

      h2 {
        @include font-size(1.4);
      }

      p {
        @include font-size(1.7);
      }
    }

    @media screen and (max-width: 500px) {
      height: $home-section-mobile;
    }
  }

  .section-shop {
    background: url('/assets/theshop.png') no-repeat center center;
    background-size: cover;
    color: $white;
    float: left;
    position: relative;
    text-align: center;
    width: 50%;

    .content {
      @include transform(translateY(0));
      top: auto;
      bottom: 5%;
    }

    h2 {
      @include font-size(3.2);
      font-family: $utopia-display;

      @media screen and (min-width: $max-font) {
        @include font-size(3.7);
      }
    }

    .buylink {
      @extend .cta;
      margin-top: 20px;
    }

    @media screen and (max-width: 970px) {
      float: none;
      height: $home-section-height;
      width: 100%;

      h2 {
      }

    }

    @media screen and (max-width: 500px) {
      height: $home-section-mobile;
    }
  }

  .section-feature {
    background: $peach;
    color: $slate;
    overflow: hidden;
    text-align: center;

    .pattern {
      @include opacity(1);
      @include transform(translateY(-50%) translateX(-50%));
      
      height: 150%;
      left: 50%;
      position: absolute;
      top: 50%;
      width: 150%;
      z-index: 1;

      .bg {
        background: url('/assets/pattern-peach-spiral.png') repeat 0 0;
        background-size: 12%;
        height: 200%;
        width: 200%;

        @media screen and (max-width: 970px) {
          background-size: 30%;
        }

        @media screen and (max-width: 500px) {
          background-size: 40%;
        }
      }
    }

    .content {
      z-index: 2;
    }

    h2 {
      @include font-size(6.2);
      font-family: $utopia-display;
      font-size: 5.5vw;
      margin: 60px 0 75px;
      padding: 0 5%;
    }

    h3 {
      @include font-size(1.6);
      font-family: $gotham;
      font-size: 1.5vw;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    figure {
      display: inline-block;
      height: 50px;
      width: 50px;

      svg {
        path, rect {
          fill: $gold;
        }
      }
    }

    @media screen and (max-width: 970px) {
      h2 {
        @include font-size(3);
        font-size: 6.5vw;
        margin: 5% 0 7%;
        padding: 0 5%;
      }
      
      h3 {
        @include font-size(1.1);
        font-size: 2vw;
        padding: 0 5%;
      }
    }

    @media screen and (max-width: 600px) {
      h2 {
        @include font-size(3);
        font-size: 7.5vw;
        margin: 8% 0 10%;
        padding: 0 5%;
      }
      
      h3 {
        @include font-size(1.1);
        font-size: 2.5vw;
        padding: 0 5%;
      }
    }

    @media screen and (max-width: 500px) {
      height: $home-section-mobile;
    }

    @media screen and (min-width: $max-font) {
      h2 {
        @include font-size(6.2);
      }
      
      h3 {
        @include font-size(1.6);
      }
    }
  }

  .section-cafe {
    figure {
      background: url('/assets/thecafe.jpg') no-repeat center center;
      background-size: cover;
      float: left;
      height: 100%;
      width: 40%;
    }

    article {
      background: $white url('/assets/marble-about.png') no-repeat center top;
      float: left;
      height: 100%;
      position: relative;
      width: 60%;

      .milk {
        background: rgba($white, .8);
        background: transparent;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
      }

      .content {
        padding: 0 14%;
        z-index: 2;
      }

      h2 {
        @include font-size(1.8);
        font-family: $gotham;
        font-size: 1vw;
        letter-spacing: 2px;
        text-transform: uppercase;
      }

      p {
        @include font-size(3.3);
        font-size: 2vw;
        line-height: 160%;
        padding: 30px 0 40px;
        position: relative;

        &:after {
          background-color: $gold;
          bottom: 0;
          content: '';
          display: block;
          height: 2px;
          left: 0;
          position: absolute;
          width: 100px;
        }
      }

      @media screen and (min-width: $max-font) {
        h2 {
          @include font-size(1.8);
        }

        p {

        }
      }
    }

    @media screen and (max-width: 970px) {
      height: auto;

      figure {
        float: none;
        height: $home-section-height;
        width: 100%;
      }

      article {
        float: none;
        height: $home-section-height;
        width: 100%;

        h2 {
          @include font-size(1.4);
        }

        p {
          @include font-size(1.7);
        }
      
        }
    }

    @media screen and (max-width: 500px) {
      figure {
        height: $home-section-mobile;
      }

      article {
        height: $home-section-mobile;
      }
      
    }
  }

  .section-photowall {
    background: url('/assets/cabinets.jpg') no-repeat center center;
    background-size: cover;

    @media screen and (max-width: 500px) {
      height: $home-section-mobile;
    }
  }
}

