.wholesale {
  background: #565f6f;
  background-size: 100% auto;

  .primary-wrapper {

    .sqs-block-html {
      h1 {
        @include font-size(4.8);
        font-size: 3vw;
      }

      p {
        @include font-size(1.8);
        font-size: 1.2vw;
      }

      @media screen and (max-width: 1200px) {
        h1 {
          @include font-size(2.2);
        }  

        p {
          @include font-size(1.8);
        }
        
      }
    }
  }
  
  .sqs-block-form {

    .title {
      @include font-size(1.4);
      font-family: $apercu;
      text-transform: uppercase;
    }

    .caption {
      @include font-size(1.2);
      font-family: $apercu;
    }

    .sqs-system-button {
      @extend .cta;
      margin-top: 20px;
    }
  }

  .content-container {
    display: table;
    height: auto;
    margin: 70px 0;
    position: relative;
  }

  .blurb {
    color: $white;
    display: table-cell;
    padding-right: 10%;
    vertical-align: top;
    width: 45%;

    @media screen and (max-width: 767px) {
      display: block;
      padding-right: 0;
      margin-bottom: 80px;
      width: 100%;
    }

    h1 {
      @include font-size(3.2);
      font-family: $utopia-display;
      margin-bottom: 25px;
    }

    p {
      @include font-size(1.3);
      font-family: $apercu;
      line-height: 147%;
      position: relative;
      margin-bottom: 15px;

      &:last-child {
        &:after {
          background-color: $gold;
          bottom: -40px;
          content: '';
          display: block;
          height: 2px;
          left: 0;
          position: absolute;
          width: 100px;
        }
      }
    }
  }

  .form-side {
    display: table-cell;
    padding-left: 5%;
    vertical-align: top;
    width: 55%;

    label, .title {
      color: $white;
    }

    @media screen and (max-width: 767px) {
      display: block;
      padding-left: 0;
      width: 100%;
    }

    .form-wrapper {
      .field {
        margin-bottom: 12px;
      }
    }
  }

}

