
.site-header {
  @include transform(translateZ(0));
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;

  &.headroom--top {
    .sitenav {
      background-color: transparent;
      height: 250px;

      .site-logo {
        height: 85px;
        width: 250px;

        .logo-lockup {
          display: block;
        }

        .logo-solo {
          display: none;
        }

        @media screen and (max-width: 1200px) {
          height: 57px;
          width: 165px;
        }
      }

      @media screen and (max-width: 970px) {
        @include transition(height .4s ease);
        background-color: $slate;
        height: 63px;

        .site-logo {
          height: 64%;
          width: 50px;

          .logo-lockup {
            display: none;
          }

          .logo-solo {
            display: block;
          }
        }
      }
    }
  }
}

.sitenav {
  @include transition(height .4s ease);
  background-color: $slate;
  height: 63px;
  width: 100%;

  .site-logo {
    @include transition(all .4s ease);
    @include transform(translateY(-50%));
    color: $gold;
    display: block;
    height: 64%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 50px;

    .mark {
      display: block;
      height: 100%;

      .logo-lockup {
        display: none;
      }

      .logo-solo {
        display: block;
      }

      svg {
        height: 100%;

        path, rect {
          @include transition(all .2s ease);
          fill: $white;
        }
      }
    }

    &:hover {
      text-decoration: none;

      svg {
        path, rect {
          fill: $gold;
        }
      }
    }
  }

  .nav-container {
    @include transform(translateY(-50%));
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;

    @media screen and (max-width: 970px) {
      display: none;
    }

    .nav-list {
      display: inline-block;
    }

    .nav-item {
      color: $white;
      display: inline-block;
      letter-spacing: 3px;
      margin-left: 50px;
      position: relative;

      &:first-child {
        margin-left: 0;
      }

      @media screen and (max-width: 1200px) {
        margin-left: 30px;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    .nav-link {
      @include font-size(1);
      color: $white;
      font-family: $gotham;
      position: relative;
      text-transform: uppercase;
      z-index: 2;
      
      .object {
        @include transform(translateY(-50%) translateX(-50%) rotate(-45deg));
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        display: block;
        height: 2px;
        left: 50%;
        opacity: 0;
        position: absolute;
        top: 50%;
        width: 35px;
        z-index: -1;
      }
      
      .line {
        background-color: $gold;
        display: block;
        height: 100%;
        position: relative;
        width: 100%;
      }

      &:hover {
        text-decoration: none;

        .object {
          @include animation(fadeIn .5s 1 ease forwards);
        }

        .line {
          @include animation(lineGrow .5s 1 ease forwards);
          @include transform(scale(.1));
        }
      }
    }

    .active-link {
      .nav-link:hover {
        .line {
          @include animation(none !important);
          @include transform(scale(1));
        }
        .object {
          @include animation(none !important);
          opacity: 1 !important;
        }
      }

      .object {
        opacity: 1;
      }
    }
  }

}

.overlay-nav {
  background: $slate;
  display: none;
  height: 100%;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 100;

  .navgroup {
    @include transform(translateY(-50%));
    left: 0;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
  }

  .close-btn {
    @include font-size(2.5);
    @include transition(all 0.2s ease-in-out);
    color: $white;
    display: block;
    font-family: $gotham;
    letter-spacing: 3px;
    margin-top: 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 2;

    &:hover {
      color: $gold;
    }
  }

  .site-logo {
    display: inline-block;
    height: 80px;
    margin-bottom: 30px;
    width: 80px;

    .mark {
      display: block;
      height: 100%;

      .logo-solo {
        display: block;
      }

      svg {
        height: 100%;

        path, rect {
          @include transition(all .2s ease);
          fill: $white;
        }
      }
    }

    &:hover {
      text-decoration: none;

      svg {
        path, rect {
          fill: $gold;
        }
      }
    }
  }

  .nav-item {
    margin-bottom: 20px;
  }

  .nav-link {
    @include font-size(1.5);
    color: $white;
    font-family: $gotham;
    letter-spacing: 3px;
    position: relative;
    text-transform: uppercase;
    z-index: 2;
    
    .object {
      @include transform(translateY(-50%) translateX(-50%) rotate(-45deg));
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      display: block;
      height: 2px;
      left: 50%;
      opacity: 0;
      position: absolute;
      top: 50%;
      width: 35px;
      z-index: -1;
    }
    
    .line {
      background-color: $gold;
      display: block;
      height: 100%;
      position: relative;
      width: 100%;
    }

    &:hover {
      text-decoration: none;

      .object {
        @include animation(fadeIn .5s 1 ease forwards);
      }

      .line {
        @include animation(lineGrow .5s 1 ease forwards);
        @include transform(scale(.1));
      }
    }
  }

  .active-link {
    .nav-link:hover {
      .line {
        @include animation(none !important);
        @include transform(scale(1));
      }
      .object {
        @include animation(none !important);
        opacity: 1 !important;
      }
    }

    .object {
      opacity: 1;
    }
  }
}

.mobile-menu-btn {
  @include transform(translateY(-50%));
  display: none;
  height: auto;
  position: absolute;
  right: 0;
  top: 50%;
  width: 20px;

  ul {
    height: 100%;
    width: 100%;

    li {
      @include transition(all 0.2s ease-in-out);
      background: $white;
      border-radius: 2px;
      height: 2px;
      margin-bottom: 5px;
      width: auto;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &:hover {
    ul {
      li {
        background: $gold;
      }
    }
  }

  @media screen and (max-width: 970px) {
    display: block;
  }
}


.absolute-cart-box {
  right: 5%;
  top: 7px;
  width: 40px;

  @media screen and (max-width: 970px) {
    right: 130px;
    left: auto !important;
    bottom: auto !important;
  }

  .sqs-pill-shopping-cart {
    position: relative !important;
  }

  .sqs-pill-shopping-cart-content {
    min-width: 0;

    &.dark {
      background: transparent;
      border: none;
      border-radius: 0;
      color: $white;
    }

    .icon {
      top: 4px;
    }

    .details {
      color: $slate;
      overflow: hidden;
      position: relative;
      width: 40px;
  
      .total-quantity {
        @include transition(all 0.2s ease-in-out);
        color: $white;
        position: absolute;
        left: 0;
        top: 3px;
      }

      .suffix {
        // display: none;
      }
    }

    .subtotal {
      display: none;
    }

    &:hover {
      .details {
        .total-quantity {
          color: $gold;
        }
      }
    }
  }
}

