/* ==================== GLOBAL RESET ==================== */

html {margin:0; padding:0;}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, select, p, blockquote, th, td {margin: 0; padding: 0;}

table {border-collapse: collapse; border-spacing: 0;}

fieldset, img {border: 0;}

address,button, caption, cite, code, dfn, em, input, optgroup, option, select, strong, textarea, th, var {font:inherit;}

del, ins {text-decoration: none;}

li {list-style: none;}

caption, th {text-align: left;}

h1, h2, h3, h4, h5, h6 {font-size: 100%; font-weight: normal;}

q:before, q:after {content: '';}

abbr, acronym {border: 0; font-variant: normal;}

sup {vertical-align: baseline;}

sub {vertical-align: baseline;}

/*because legend doesn't inherit in IE */
legend {color: #000;}

/* ==================== UNIVERSAL ==================== */


body {
	background: #2C6499;
	color: #DBE9EE;
	font-family: 'Abril Fatface', cursive;
	height: 100%;
	position: relative;
}

h1 {
	font-size: 26px;
	font-size: 2vw;
	height: auto;
	line-height: 1.5;
	left: 50%;
	letter-spacing: 1.8px;
	position: absolute;
	top: 18%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	width: 50%;
}

a {
	color: #00BDEF;
	transition: color 1.5s ease-in-out;
	text-decoration: none;
}

.evolve {
	cursor: pointer;
}

.pink {
	color: #FF55CD;
}
.blue {
	color: #00BDEF;
}
.yellow {
	color: #FFD91A;
}
.green {
	color: #42D813;
}

a:hover {
	/*color: red;*/
	border-bottom: 2px solid white;
}

@media screen and (max-width: 900px) {
	h1 {
		font-size: 20px;
		font-size: 2.7vw;
		width: 70%;
	}
}

@media screen and (max-width: 666px) {
	h1 {
		font-size: 20px;
		font-size: 5.5vw;
		left: auto;
		padding: 7% 8%;
		position: relative;
		top: auto;
		transform: translateY(0%) translateX(0%);
		-webkit-transform: translateY(0%) translateX(0%);
		width: auto;
	}
}
